<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
</style>
<body>
	<%@ include file="../common/header.jsp" %>
	리스트
    <header>
        <div id="container">
            <div class="category">
              <div>생활용품</div>
              <div>주방용품</div>
              <div>욕실용품</div>
              <div>일회용품</div>
              <div>패션잡화</div>
            </div>
        
            <div class="list">
              <a href="">제품</a>
              <a href="">제품</a>
              <a href="">제품</a>
              <a href="">제품</a>
              <a href="">제품</a>
              <a href="">제품</a>
              <a href="">제품</a>
              <a href="">제품</a>
              <a href="">제품</a>
            </div>
        
    </header>
</body>
</html>