<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

		<insert id="write">
			INSERT INTO COMM
			(
				NO
	            , MEMBER_NO
				, CATEGORY
				, TITLE
				, CONTENT
				, ENROLL_DATE
				, DELETE_YN
				, MODIFY_DATE
				, HIT
				, PICK_YN
				, HASHTAG
			)
			VALUES
			(
				SEQ_COMM_NO.NEXTVAL
	            , '7'
				, #{category}
				, #{title}
				, #{content}
				, SYSDATE
				, 'N'
				, SYSDATE
				, 0
				, 'N'
				, #{hashtag}
			)
		</insert>
		
		<select id="selectList" resultType="com.kh.yess.community.vo.BoardVo">
			SELECT <!-- DISTINCT -->
				    C.NO
					, M.NICK
			        , CC.NAME
					, C.TITLE
					, C.CONTENT
					, TO_CHAR(C.ENROLL_DATE , 'YYYY-MM-DD') AS ENROLL_DATE
					, C.DELETE_YN
					, C.MODIFY_DATE
					, C.HIT
					, C.PICK_YN
			        , M.NICK
			        , M.GRADE_NO
			FROM COMM C
			JOIN MEMBER M
			ON C.MEMBER_NO = M.NO
			JOIN COMM_CATE CC
			ON C.CATEGORY = CC.NO
			WHERE C.DELETE_YN = 'N'
			AND C.TITLE LIKE '%${search}%'
			AND CC.NO = '1'
			ORDER BY C.NO DESC
			<!-- ORDER BY ENROLL_DATE DESC -->
		</select>
		
		<select id="selectQnaList" resultType="com.kh.yess.community.vo.BoardVo">
			SELECT <!-- DISTINCT -->
				    C.NO
					, M.NICK
			        , CC.NAME
					, C.TITLE
					, C.CONTENT
					, TO_CHAR(C.ENROLL_DATE , 'YYYY-MM-DD') AS ENROLL_DATE
					, C.DELETE_YN
					, C.MODIFY_DATE
					, C.HIT
					, C.PICK_YN
			        , M.NICK
			        , M.GRADE_NO
			FROM COMM C
			JOIN MEMBER M
			ON C.MEMBER_NO = M.NO
			JOIN COMM_CATE CC
			ON C.CATEGORY = CC.NO
			WHERE C.DELETE_YN = 'N'
			AND C.TITLE LIKE '%${search}%'
			AND CC.NO = '2'
			ORDER BY C.NO DESC
			<!-- ORDER BY ENROLL_DATE DESC -->
		</select>
		
		<select id="selectChatList" resultType="com.kh.yess.community.vo.BoardVo">
			SELECT <!-- DISTINCT -->
				    C.NO
					, M.NICK
			        , CC.NAME
					, C.TITLE
					, C.CONTENT
					, TO_CHAR(C.ENROLL_DATE , 'YYYY-MM-DD') AS ENROLL_DATE
					, C.DELETE_YN
					, C.MODIFY_DATE
					, C.HIT
					, C.PICK_YN
			        , M.NICK
			        , M.GRADE_NO
			FROM COMM C
			JOIN MEMBER M
			ON C.MEMBER_NO = M.NO
			JOIN COMM_CATE CC
			ON C.CATEGORY = CC.NO
			WHERE C.DELETE_YN = 'N'
			AND C.TITLE LIKE '%${search}%'
			AND CC.NO = '3'
			ORDER BY C.NO DESC
			<!-- ORDER BY ENROLL_DATE DESC -->
		</select>
		
		<select id="selectCnt" resultType="int"> 
			SELECT COUNT(*)
			FROM COMM
			WHERE CATEGORY = '1'
			AND DELETE_YN = 'N'
		</select>
		
		<select id="selectQnaCnt" resultType="int"> 
			SELECT COUNT(*)
			FROM COMM
			WHERE CATEGORY = '2'
			AND DELETE_YN = 'N'
		</select>
		
		<select id="selectChatCnt" resultType="int"> 
			SELECT COUNT(*)
			FROM COMM
			WHERE CATEGORY = '3'
			AND DELETE_YN = 'N'
		</select>
		
		<select id="selectInfoOne" resultType="com.kh.yess.community.vo.BoardVo">
		
			SELECT 
				    C.NO
					, C.MEMBER_NO
					, C.CATEGORY
					, C.TITLE
					, C.CONTENT
					, TO_CHAR(C.ENROLL_DATE , 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE
					, C.DELETE_YN
					, C.MODIFY_DATE
					, C.HIT
					, C.PICK_YN
			        , M.NICK
			        , C.LIKE_CNT
			        , C.HASHTAG
			FROM COMM C
			JOIN MEMBER M
			ON C.MEMBER_NO = M.NO
			WHERE C.NO = #{no}
			AND C.DELETE_YN = 'N'
			<!--  
			SELECT 
				    C.NO
					, C.MEMBER_NO
					, C.CATEGORY
					, C.TITLE
					, C.CONTENT
					, TO_CHAR(C.ENROLL_DATE , 'YYYY-MM-DD HH24:MI') AS ENROLL_DATE
					, C.DELETE_YN
					, C.MODIFY_DATE
					, C.HIT
					, C.PICK_YN
			        , M.NICK
			        , C.LIKE_CNT
                    , G.NAME
			FROM COMM C
			JOIN MEMBER M
			ON C.MEMBER_NO = M.NO
            JOIN GRADE G
            ON M.GRADE_NO = G.NO
			WHERE C.NO = #{no}
			AND C.DELETE_YN = 'N' ;
			  -->
		</select>
	  
	  <update id="plusLikeCntOne">
			UPDATE COMM 
				SET LIKE_CNT = LIKE_CNT + 1 
				WHERE NO = #{no}
				AND DELETE_YN = 'N'
	  </update>
	  
	  <update id="updateInfoOne">
		UPDATE COMM
			SET TITLE = #{title}
			    ,CONTENT = #{content}
			    ,DELETE_YN = 'N'
			    ,MODIFY_DATE = SYSDATE
			WHERE NO = #{no}
		</update>
	
		<update id="deleteInfoOne">
			UPDATE COMM 
			SET DELETE_YN = 'Y' 
			WHERE NO = #{no}
		</update>
		
			<!-- 상품이미지등록 -->
		<insert id="addProdImgThumb">
			INSERT INTO COMM_ATTACHMENT VALUES(
		 	SEQ_COMM_ATTACHMENT_NO.NEXTVAL, 
		 	SEQ_COMM_NO.CURRVAL,
		 	#{originName},
			#{changeName} ,
			#{filePath},
			SYSDATE,'Y',default)
		</insert>
		
		<insert id="addProdImg">
			INSERT INTO COMM_ATTACHMENT VALUES(
		 	SEQ_COMM_ATTACHMENT_NO.NEXTVAL, 
		 	SEQ_COMM_NO.CURRVAL,
		 	#{originName},
			#{changeName} ,
			#{filePath},
			SYSDATE,default,default)
		</insert>
		
		<!-- 상품상세조회 -->
		<!-- 
		<select id="selectProdOne" resultType="com.kh.yess.community.vo.BoardVo">
			SELECT * 
			FROM COMM
			WHERE NO = #{no}
		</select>
		 -->
		<select id="selectProdImgList" resultType="com.kh.yess.community.vo.BoardAttachmentVo">
			SELECT *
			FROM COMM_ATTACHMENT
			WHERE NO = #{no}
		</select>
	
	<update id="increaseHit">
		UPDATE COMM 
		SET HIT = HIT + 1 
		WHERE NO = #{no} 
		AND DELETE_YN = 'N'
	</update>
	
	<select id="selectLike" resultType="int">
		SELECT LIKE_CNT FROM COMM WHERE NO = #{no}
	</select>
	
	<insert id="insertCmt">
		INSERT INTO COMM_CMT
		VALUES
		(SEQ_COMM_CMT_NO.NEXTVAL, #{commNo}, #{writer}, #{cmt}, SYSDATE, 'N', SYSDATE, 'N')
	</insert>
	
	<select id="selectTopHit" resultType="com.kh.yess.community.vo.BoardVo">
		SELECT * FROM 
			    (
			    SELECT 
			    ROWNUM
			    ,T.* FROM(
			            SELECT 
			                C.NO
			                ,C.MEMBER_NO
			                , C.TITLE
			                , C.LIKE_CNT
			                , C.CONTENT 
			                , M.NICK
			                FROM COMM C
			                JOIN MEMBER M
			                ON C.MEMBER_NO = M.NO
			                WHERE C.DELETE_YN = 'N' ORDER BY C.LIKE_CNT DESC) T) WHERE ROWNUM = 1
	</select>
	
	<select id="selectTopView" resultType="com.kh.yess.community.vo.BoardVo">
		SELECT * FROM 
			    (
			    SELECT 
			    ROWNUM
			    ,T.* FROM(
			            SELECT 
			                C.NO
			                ,C.MEMBER_NO
			                , C.TITLE
			                , C.HIT
			                , C.CONTENT 
			                , M.NICK
			                FROM COMM C
			                JOIN MEMBER M
			                ON C.MEMBER_NO = M.NO
			                WHERE C.DELETE_YN = 'N' ORDER BY C.HIT DESC) T) WHERE ROWNUM = 1
	</select>
	
</mapper>