<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<insert id="write">
		INSERT INTO COMM
		(
			NO
            , MEMBER_NO
			, COMMUNITY_TYPE_NO
			, TITLE
			, CONTENT
			, ENROLL_DATE
			, DELETE_YN
			, MODIFY_DATE
			, HIT
			, PICK_YN
		)
		VALUES
		(
			10
            , 1
			, 1
			, #{title}
			, #{content}
			, SYSDATE
			, 'N'
			, SYSDATE
			, 100
			, 'N'
		)
	</insert>
	
	<select id="selectList" resultType="com.kh.yess.community.vo.BoardVo">
		SELECT 
			NO
			, COMMUNITY_TYPE_NO
			, #{title}
			, MEMBER_NO
			, TO_CHAR(#{enrollDate}, 'YYYY-MM-DD')
			, HIT
		FROM COMM
	</select>

  
</mapper>