<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqMapper">

	<!-- faq 리스트 -->
	<select id="faqList" resultType="FaqVo">
		SELECT
			 F.NO
			, QT.QNA_TYPE
			, F.TITLE
			, F.CONTENT
			, F.ENROLL_DATE
			, TO_CHAR(F.MODIFY_DATE, 'yyyy-mm-dd') AS MODIFY_DATE
			, F.MODIFY_DATE AS DATE2
		FROM FAQ F
		JOIN QNA_TYPE QT ON F.QNA_TYPE_NO = QT.NO
		WHERE DELETE_YN = 'N'
		<if test=' tradeType != 0'>
		AND QNA_TYPE_NO = ${typeNo}
		</if>
		ORDER BY DATE2 DESC
	</select>
	
	<!-- 관리자 FAQ 등록 -->
	<insert id="faqWrite">
	INSERT INTO FAQ
	(
	    NO
	    , QNA_TYPE_NO
	    , ADMIN_NO
	    , TITLE
	    , CONTENT
	)
	VALUES
	(
	    SEQ_FAQ_NO.NEXTVAL
	    , #{qnaTypeNo} 
	    , 1
	    , #{title}
	    , #{content}
	)

	</insert>
	
	<!-- 회원 QNA 등록 -->
	<insert id="qnaWrite">
	 INSERT INTO QNA
	 (
		 NO
		, MEMBER_NO
		, QNA_TYPE_NO
		, TITLE
		, CONTENT
	)
	VALUES
	(
		SEQ_QNA_NO.NEXTVAL
		, 2
		, #{qnaTypeNo}
		, #{title}
	    , #{content}
	)

	</insert>
	
	
	<!-- QNA 리스트 갯수 (회원) -->
	<select id="qnaListCount" resultType="int">
		SELECT COUNT(*)
		FROM QNA
		WHERE MEMBER_NO = 2
		AND DELETE_YN = 'N'
	</select>
	
		<!-- QNA 리스트 갯수 (관리자) -->
	<select id="adminQnaListCount" resultType="int">
		SELECT COUNT(*)
		FROM QNA
		WHERE DELETE_YN = 'N'
	</select>
	
	<!-- 마이페이지 QNA내역(회원) -->
	<select id="qnaList" resultType="QnaVo">
	SELECT
	   QNA.NO
	    ,QT.QNA_TYPE
	    ,QNA.TITLE
	    ,QNA.CONTENT
	    ,TO_CHAR(QNA.MODIFY_DATE, 'yyyy-mm-dd') AS MODIFY_DATE
	    , QNA.ENROLL_DATE
	    ,QNA.ANSWER_DATE
	    ,QNA.ANSWER_YN
	FROM QNA
	JOIN QNA_TYPE QT ON QNA.QNA_TYPE_NO = QT.NO
	WHERE MEMBER_NO = 2
	ORDER  BY ENROLL_DATE DESC
	</select>
	
		<!-- 마이페이지 QNA내역(관리자) -->
	<select id="adminQnaList" resultType="QnaVo">
	SELECT
	   QNA.NO
	   , MB.ID
	    ,QT.QNA_TYPE
	    ,QNA.TITLE
	    ,QNA.CONTENT
	    ,TO_CHAR(QNA.MODIFY_DATE, 'yyyy-mm-dd') AS MODIFY_DATE
	    , QNA.ENROLL_DATE
	    ,QNA.ANSWER_DATE
	    ,QNA.ANSWER_YN
	FROM QNA
	JOIN QNA_TYPE QT ON QNA.QNA_TYPE_NO = QT.NO
	JOIN MEMBER MB ON QNA.MEMBER_NO = MB.NO
	ORDER  BY ENROLL_DATE DESC
	</select>
	
	<!-- 마이페이지 QNA 상세조회(회원) -->
	<select id="qnaDetail" resultType="QnaVo">
	SELECT
	   QNA.NO
	    ,QT.QNA_TYPE
	    ,QNA.TITLE
	    ,QNA.CONTENT
	    ,TO_CHAR(QNA.MODIFY_DATE, 'yyyy-mm-dd') AS MODIFY_DATE
	    ,QNA.ANSWER
	    ,TO_CHAR(QNA.ANSWER_DATE, 'yyyy-mm-dd') AS ANSWER_DATE
	    ,QNA.ANSWER_YN
	FROM QNA
	JOIN QNA_TYPE QT ON QNA.QNA_TYPE_NO = QT.NO
	WHERE QNA.NO = #{NO}
	</select>
	
		<!-- 마이페이지 QNA 상세조회(어드민) -->
	<select id="adminQnaDetail" resultType="QnaVo">
	SELECT
	   QNA.NO
	   , MB.ID
	    ,QT.QNA_TYPE
	    ,QNA.TITLE
	    ,QNA.CONTENT
	    ,TO_CHAR(QNA.MODIFY_DATE, 'yyyy-mm-dd') AS MODIFY_DATE
	    ,QNA.ANSWER
	    ,TO_CHAR(QNA.ANSWER_DATE, 'yyyy-mm-dd') AS ANSWER_DATE
	    ,QNA.ANSWER_YN
	FROM QNA
	JOIN MEMBER MB ON QNA.MEMBER_NO = MB.NO
	JOIN QNA_TYPE QT ON QNA.QNA_TYPE_NO = QT.NO
	</select>
	
	<update id="qnaAnswer">
		UPDATE QNA SET
	    ANSWER = #{answer}
	    , ANSWER_DATE = SYSDATE
	    , ANSWER_YN = 'Y'
	    WHERE NO = #{no}
	</update>
	
	
	
	
	
</mapper>