<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mallMapper">

	<!-- 상품목록조회 -->
	<select id="selectMallList" resultType="com.kh.yess.mall.vo.ProdVo">
		SELECT P.PROD_NO, P.PROD_CATE_NO, P.PROD_NAME, P.PROD_PRICE, A.PROD_IMG_NO, A.THUMB_YN, A.CHANGE_NAME
		FROM YESSMALL_PROD P
		JOIN YESSMALL_ATTACHMENT A
		ON P.PROD_NO = A.PROD_NO
		JOIN YESSMALL_CATEGORY C
		ON P.PROD_CATE_NO = C.PROD_CATE_NO
		WHERE A.THUMB_YN = 'Y'
		
		<if test=' category != null and category != "" '>
			AND P.PROD_CATE_NO = ${category}
		</if>
		AND P.PROD_NAME LIKE '%${search}%'
		ORDER BY PROD_NO DESC
	</select>  
	
	<!-- 상품상세조회 -->
	<select id="selectProdOne" resultType="ProdVo">
		SELECT * 
		FROM YESSMALL_PROD
		WHERE PROD_NO = #{prodNo}
	</select>
	<select id="selectProdImgList" resultType="AttachmentVo">
		SELECT *
		FROM YESSMALL_ATTACHMENT
		WHERE PROD_NO = #{prodNo}
		AND STATUS = 'O'
	</select>
	
	<!-- 리뷰목록조회 -->
	<select id="selectRvList" resultType="ReviewVo">
	 	SELECT R.RV_NO, R.PROD_NO, R.TITLE, R.CONTENT, R.ENROLL_DATE, R.MODIFY_DATE, R.DELETE_YN, M.NICK
	 	FROM YESSMALL_REVIEW R
	 	JOIN MEMBER M
	 	ON M.NO = R.MEMBER_NO
	 	WHERE R.PROD_NO = #{prodNo}
	 	AND R.DELETE_YN = 'N'
	</select>
	
	
	
	
	<!-- 상품등록 -->
	<insert id="addProd">
	 	INSERT INTO YESSMALL_PROD VALUES(
	 	SEQ_YESSMALL_PROD_NO.NEXTVAL, 
	 	#{prodCateNo}, 
	 	#{prodName}, 
	 	#{prodInfo}, 
	 	#{prodDetail}, 
	 	#{prodPrice}, 
	 	#{prodStock}
	 	)
	</insert>
	
	<!-- 상품이미지등록 -->
	<insert id="addProdImgThumb">
		INSERT INTO YESSMALL_ATTACHMENT VALUES(
	 	SEQ_YESSMALL_ATTACHMENT_NO.NEXTVAL, 
	 	SEQ_YESSMALL_PROD_NO.CURRVAL,
	 	#{originName},
		#{changeName} ,
		#{filePath},
		SYSDATE,'Y',default)
	</insert>
	
	<insert id="addProdImg">
		INSERT INTO YESSMALL_ATTACHMENT VALUES(
	 	SEQ_YESSMALL_ATTACHMENT_NO.NEXTVAL, 
	 	SEQ_YESSMALL_PROD_NO.CURRVAL,
	 	#{originName},
		#{changeName} ,
		#{filePath},
		SYSDATE,default,default)
	</insert>
	
	
	<!-- 상품수정 -->
	<update id="updateProd">
		UPDATE 
			YESSMALL_PROD 
		SET 
			PROD_NAME = #{prodName}
			, PROD_CATE_NO = #{prodCateNo}
			, PROD_INFO = #{prodInfo}
			, PROD_DETAIL = #{prodDetail}
			, PROD_PRICE = #{prodPrice}
			, PROD_STOCK = #{prodStock}
		WHERE PROD_NO = #{prodNo}
	</update>
	
	<update id="updateProdImg">
		UPDATE 
	    	YESSMALL_ATTACHMENT
		SET 
		 	STATUS = 'X'
		WHERE PROD_NO = #{prodNo}
	</update>
	<!-- 수정이미지등록 -->
		<insert id="updateNewProdImgThumb">
		INSERT INTO YESSMALL_ATTACHMENT VALUES(
	 	SEQ_YESSMALL_ATTACHMENT_NO.NEXTVAL, 
	 	#{prodNo},
	 	#{originName},
		#{changeName} ,
		#{filePath},
		SYSDATE,'Y',default)
	</insert>
	
	<insert id="updateNewProdImg">
		INSERT INTO YESSMALL_ATTACHMENT VALUES(
	 	SEQ_YESSMALL_ATTACHMENT_NO.NEXTVAL, 
	 	#{prodNo},
	 	#{originName},
		#{changeName} ,
		#{filePath},
		SYSDATE,default,default)
	</insert>
	
	
	
	<!-- 리뷰등록 -->
	<insert id="insertRv">
		INSERT INTO YESSMALL_REVIEW VALUES(
		SEQ_YESSMALL_REVIEW_NO.NEXTVAL,
		#{memberNo},
		#{prodNo},
		#{title},
		#{content},
		SYSDATE,
		SYSDATE,
		DEFAULT)
	</insert>
	
	<!-- 리뷰상세조회 -->
	<select id="selectRv" resultType="ReviewVo">
		SELECT R.RV_NO, R.PROD_NO, R.TITLE, R.CONTENT, R.ENROLL_DATE, R.MODIFY_DATE, R.DELETE_YN, M.NICK
	 	FROM YESSMALL_REVIEW R
	 	JOIN MEMBER M
	 	ON M.NO = R.MEMBER_NO
	 	WHERE R.PROD_NO = #{prodNo}
	 	AND R.RV_NO = #{rvNo}
	 	AND R.DELETE_YN = 'N'
	
	</select>
	
</mapper>