<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="marketMapper">
	
	<!-- 마켓 리스트 + 검색 -->
	<select id="list" resultType="MarketVo">
		SELECT 
		    MK.NO
		    , MB.NICK
		    , MK.TITLE
		    , MT.MARKET_TYPE
		    , TO_CHAR(MK.ENROLL_DATE, 'yyyy-mm-dd') AS ENROLL_DATE
		    , MK.HIT
		    , MK.TRADE_YN
		    , MA.CHANGE_NAME
		    , COUNT(CASE WHEN MC.DELETE_YN = 'N' THEN 1 END) AS CMTCNT
		FROM MARKET MK
		JOIN MEMBER MB ON MK.MEMBER_NO = MB.NO
		JOIN MARKET_TYPE MT ON MK.MARKET_TYPE_NO = MT.NO
		JOIN MARKET_ATTACHMENT MA ON MK.NO = MA.MARKET_NO
		LEFT OUTER JOIN MARKET_CMT MC ON MK.NO = MC.MARKET_NO 
		WHERE MK.DELETE_YN = 'N'
		AND MA.THUMB_YN = 'Y'
		<if test=' tradeType != null and tradeType != "" and "0" neq tradeType '>
		    AND MARKET_TYPE_NO = ${tradeType}
		</if>
		AND TITLE LIKE '%${tradeName}%'
		GROUP BY 
		    MK.NO
		    , MB.NICK
		    , MK.TITLE
		    , MT.MARKET_TYPE
		    , TO_CHAR(MK.ENROLL_DATE, 'yyyy-mm-dd')
		    , MK.HIT
		    , MK.TRADE_YN
		    , MA.CHANGE_NAME
		ORDER BY ENROLL_DATE DESC
	</select>
	
	<!-- 마켓 리스트 갯수 -->
	<select id="listCount" resultType="int">
		SELECT COUNT(*)
		FROM MARKET
		WHERE DELETE_YN = 'N'
		<if test=' tradeType != null and tradeType != "" and "0" neq tradeType '>
			AND MARKET_TYPE_NO = ${tradeType}
		</if>
		AND TITLE LIKE '%${tradeName}%'
	</select>
	
	<!-- 마켓 글 작성 -->
	<insert id="write">
	 	INSERT INTO MARKET
		(
		    NO
		    , MEMBER_NO
		    , TITLE
		    , MARKET_TYPE_NO
		    , OBJECT_NAME
		    , OBJECT_INFO
		    , TRADE_METHOD
		    , OBJECT_PS
		)
		VALUES
		(
		    SEQ_MARKET_NO.NEXTVAL
		    , 1<!-- #{memberNo} -->
		    , #{title}
		    , #{marketType}
		    , #{objectName}
		    , #{objectInfo}
		    , #{tradeMethod}
		    , #{objectPs}
		)
	</insert>
	
	<!-- 마켓 이미지 업로드 -->
	<insert id="writeImg">
		INSERT INTO MARKET_ATTACHMENT
		(
			NO
			, MARKET_NO
			, ORIGIN_NAME
			, CHANGE_NAME
			, FILE_PATH
			, THUMB_YN
		)
		VALUES
		(
		 	SEQ_MARKET_ATTACHMENT_NO.NEXTVAL 
		 	, SEQ_MARKET_NO.CURRVAL
		 	, #{originName}
			, #{changeName}
			, #{filePath}
			, #{thumbYn}
		)
	</insert>
	
	<!-- 마켓 이미지 수정 -->
	<insert id="editImgInsert">
		INSERT INTO MARKET_ATTACHMENT
		(
			NO
			, MARKET_NO
			, ORIGIN_NAME
			, CHANGE_NAME
			, FILE_PATH
			, THUMB_YN
		)
		VALUES
		(
		 	SEQ_MARKET_ATTACHMENT_NO.NEXTVAL 
		 	, #{marketNo}
		 	, #{originName}
			, #{changeName}
			, #{filePath}
			, #{thumbYn}
		)
	</insert>
	
	
	<!-- 마켓 상세 (글) -->
	<select id="detail" resultType="MarketVo">
 		SELECT 
		    MK.NO
		    , MB.NICK
		    , MK.TITLE
		    , MT.MARKET_TYPE
		    , TO_CHAR(MK.ENROLL_DATE, 'yyyy-mm-dd') AS ENROLL_DATE
		    , MK.HIT
		    , MK.TRADE_YN
		    , TO_CHAR(MK.MODIFY_DATE, 'yyyy-mm-dd') AS MODIFY_DATE
		    , OBJECT_NAME
		    , OBJECT_INFO
		    , TRADE_METHOD
		    , OBJECT_PS
		FROM MARKET MK
		JOIN MEMBER MB ON MK.MEMBER_NO = MB.NO
		JOIN MARKET_TYPE MT ON MK.MARKET_TYPE_NO = MT.NO
		WHERE DELETE_YN = 'N'
		AND MK.NO = #{NO}
	</select>
	
	<!-- 마켓 상세 (사진) -->
	<select id="detailImg" resultType="MarketAttachmentVo">
 		SELECT 
			CHANGE_NAME
		FROM MARKET_ATTACHMENT
		WHERE STATUS = 'O'
		AND MARKET_NO = #{no} 
	</select>
	
	<!-- 마켓 댓글 갯수 -->
	<select id="cmtCnt" resultType="int">
		SELECT COUNT(*)
		FROM MARKET_CMT
		WHERE MARKET_NO = #{no}
		AND DELETE_YN = 'N'
	</select>
	
	<!-- 마켓 조회수 증가 -->
	<update id="increaseHit">
	  		UPDATE MARKET 
	  		SET HIT = HIT + 1 
	  		WHERE NO = #{no}
	  </update>
	  
	<!-- 마켓 삭제 -->
  	<update id="delete">
  		UPDATE MARKET 
  		SET DELETE_YN = 'Y' 
  		WHERE NO = #{no}
  	</update>
  	
  	<!-- 거래완료 변경 -->
  	<update id="tradeY">
  		UPDATE MARKET 
  		SET TRADE_YN = 'Y' 
  		WHERE NO = #{no}
  	</update>
  	
  	  	<!-- 거래취소 변경 -->
  	<update id="tradeN">
  		UPDATE MARKET 
  		SET TRADE_YN = 'N' 
  		WHERE NO = #{no}
  	</update>
  	
  	<!-- 마켓 이미지 수정(삭제) -->
  	<delete id="editImgDelete">
  		DELETE MARKET_ATTACHMENT
		WHERE MARKET_NO = #{no}
  	</delete>
  	
	
  	<!-- 마켓 글 수정 -->
	<update id="edit">
	 	UPDATE MARKET SET
		    TITLE = #{title}
		    , MARKET_TYPE_NO = #{marketType}
		    , OBJECT_NAME = #{objectName}
		    , OBJECT_INFO = #{objectInfo}
		    , TRADE_METHOD = #{tradeMethod}
		    , OBJECT_PS = #{objectPs}
		    , MODIFY_DATE = SYSDATE
		WHERE NO = #{no}
	</update>
	
	<!-- 마켓 댓글조회 -->
	<select id="cmtList" resultType="MarketCmtVo">
		SELECT
	    MC.NO
	    , MB.NICK
	    , MC.MARKET_NO
	    , MC.CMT
	    , MC.MODIFY_DATE AS DATE2
	    , TO_CHAR(MC.MODIFY_DATE, 'yyyy-mm-dd') AS MODIFY_DATE
	    , MC.SECRET_YN
	FROM MARKET_CMT MC
	JOIN MEMBER MB ON MC.MEMBER_NO = MB.NO
	WHERE MARKET_NO = #{no}
	AND DELETE_YN = 'N'
	ORDER BY DATE2
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="cmtWrite">
		INSERT INTO MARKET_CMT
		(
			NO
			, MEMBER_NO
			, MARKET_NO
			, CMT
			, SECRET_YN
		)
		VALUES
		(
			SEQ_MARKET_CMT_NO.NEXTVAL
			, 1<!-- #{memberNo} -->
			, #{marketNo}
			, #{cmt}
			, #{secretYn}
		)
	</insert>
	
	
	<!-- 댓글 삭제 -->
	<update id="cmtDelete">
	 	UPDATE MARKET_CMT SET
		DELETE_YN = 'Y'
		WHERE NO = #{no}
	</update>
	
	
	
</mapper>