<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="marketMapper">
	
	<!-- 마켓 리스트 조회 -->
	<select id="list" resultType="MarketVo">
        SELECT 
		    MK.NO
		    , MB.NICK
		    , MK.TITLE
		    , MT.MARKET_TYPE
		    , TO_CHAR(MK.ENROLL_DATE, 'yyyy-mm-dd') AS ENROLL_DATE
		    , MK.HIT
		    , MK.TRADE_YN
		FROM MARKET MK
		JOIN MEMBER MB ON MK.MEMBER_NO = MB.NO
		JOIN MARKET_TYPE MT ON MK.MARKET_TYPE_NO = MT.NO
		WHERE DELETE_YN = 'N'
		
		<if test=' tradeType != null and tradeType != "" and "0" neq tradeType '>
			AND MARKET_TYPE_NO = ${tradeType}
		</if>
		AND TITLE LIKE '%${tradeName}%'
		ORDER BY MK.NO DESC
	</select>
	
	<!-- 마켓 게시글 갯수 조회 -->
	<select id="listCount" resultType="int">
		SELECT COUNT(*)
		FROM MARKET
	</select>
	
	<!-- 마켓 검색 -->
<!-- < 	<select id="listSearch" resultType="MarketVo">
		SELECT *
		FROM MARKET
		<if test=" keyword != null and keyword != '' ">
			WHERE ${category} LIKE '%${keyword}%'
			WHERE TITLE = '제목'
			${category} == TITLE
			#{keyword} == '제목'
		</if>
		ORDER BY NO DESC
	</select> -->


</mapper>