<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<insert id="insertMember">
		INSERT INTO MEMBER
		(
			NO
			, ID
			, PWD
			, NAME
			, NICK
			, PHONE
			, EMAIL
			, ADDR
		)
		VALUES
		(
			SEQ_MEMBER_NO.NEXTVAL 
			, #{id}
			, #{pwd}
			, #{name}
			, #{nick}
			, #{phone}
			, #{email}
			, CONCAT( CONCAT( #{addr1}, #{addr2} ), #{addr3} )
		)
	</insert>
			
	<select id="selectOnePwd" resultType="MemberVo">
		SELECT *
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<select id="selectOneById" resultType="MemberVo">
		SELECT *
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<update id="updatemember">
		UPDATE
		    MEMBER
		SET
		    PHONE = #{phone}
		    , NICK = #{nick}
		    , ADDR = #{addr}
		WHERE
		    ID = #{id}
	</update>
	
	<select id = "selectOneCheckId" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE ID = #{id}
	</select>
	
	<select id = "selectOneCheckNick" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE NICK = #{nick}
	</select>
	
	<select id = "selectOneCheckPhone" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE PHONE = ${phone}
	</select>
	
	<select id = "selectOneCheckEmail" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<!-- 회원정보조회 -->
	<select id="selectMember" parameterType="String" resultType="MemberVo">
		SELECT *
		FROM MEMBER
		WHERE EMAIL = #{email}
	</select>
	
	<!-- 패스워드변경 -->
	<update id = "pwUpdate_M" parameterType="MemberVo">
		UPDATE
			MEMBER
		SET
			PWD=#{pwd}
		WHERE EMAIL = #{email}
	</update>
	
</mapper>
