<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<insert id="insertMember">
		INSERT INTO MEMBER
		(
			MEMBER_ID
			, MEMBER_PWD
			, MEMBER_NICK
			, ENROLL_DATE
		)
		VALUES
		(
			#{memberId}
			, #{memberPwd}
			, #{memberNick}
			, SYSDATE
		)
	</insert>
			
	<select id="selectOneById">
		SELECT *
		FROM MEMBER
		WHERE MEMBER_ID = #{memberId}
	</select>
	
</mapper>
