<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newsMapper">
	
	<select id="selectNewsFive" resultType="NewsVo">
		SELECT * FROM
		    ( 
		    SELECT
		    ROWNUM 
		    ,T.* FROM(
		            SELECT
		                NO
		                , TITLE
		            FROM NEWS
		            WHERE DELETE_YN = 'N'
		            AND NEWS_TYPE_NO = 1
		            ORDER BY ENROLL_DATE DESC    
		            ) T
		    )
		WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	
	<select id="selectAreaFive" resultType="NewsVo">
		SELECT * FROM
		    ( 
		    SELECT
		    ROWNUM 
		    ,T.* FROM(
		            SELECT
		                NO
		                , TITLE
		            FROM NEWS
		            WHERE DELETE_YN = 'N'
		            AND NEWS_TYPE_NO = 2
		            ORDER BY ENROLL_DATE DESC    
		            ) T
		    )
		WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	
	<select id="selectNoticeFive" resultType="NewsVo">
		SELECT * FROM
		    ( 
		    SELECT
		    ROWNUM 
		    ,T.* FROM(
		            SELECT
		                NO
		                , TITLE
		            FROM NEWS
		            WHERE DELETE_YN = 'N'
		            AND NEWS_TYPE_NO = 3
		            ORDER BY ENROLL_DATE DESC    
		            ) T
		    )
		WHERE ROWNUM BETWEEN 1 AND 5
	</select>
	
	<select id="selectRankMonth" resultType="MemberVo">
		SELECT * FROM
		    ( 
		    SELECT
		    ROWNUM 
		    ,T.* FROM(
		            SELECT
		                NO
		                , NICK
		                , POINT
		            FROM MEMBER
		            WHERE QUIT_YN = 'N'
		            AND GRADE_NO != 8
		            AND GRADE_NO != 9
		            ORDER BY POINT DESC    
		            ) T
		    )   
		WHERE ROWNUM BETWEEN 1 AND 10
	</select>
	
	<select id="selectRankAll" resultType="MemberVo">
		SELECT * FROM
		    ( 
		    SELECT
		    ROWNUM 
		    ,T.* FROM(
		            SELECT
		                NO
		                , NICK
		                , POINT
		            FROM MEMBER
		            WHERE QUIT_YN = 'N'
		            AND GRADE_NO != 8
		            AND GRADE_NO != 9
		            ORDER BY POINT DESC    
		            ) T
		    )   
		WHERE ROWNUM BETWEEN 1 AND 10
	</select>
	
	<select id="selectNewsOne" resultType="NewsVo">
		SELECT 
		    NO
		    ,ADMIN_NO
		    ,NEWS_TYPE_NO
		    ,TITLE
		    ,CONTENT
		    ,ENROLL_DATE
		    ,DELETE_YN
		    ,MODIFY_DATE
		FROM NEWS
		WHERE NO = #{no}
		AND DELETE_YN = 'N'
	</select>
	
	<insert id="insertOne">
		INSERT INTO NEWS
		(
		    NO
		    , ADMIN_NO
		    , NEWS_TYPE_NO
		    , TITLE
		    , CONTENT
		)
		VALUES
		(
		    SEQ_NEWS_NO.NEXTVAL
		    ,#{adminNo}
		    ,#{newsTypeNo}
		    ,#{title}
		    ,#{content}
		)
	</insert>
	
	<update id="updateOne">
		UPDATE NEWS
		SET
		    NEWS_TYPE_NO = #{newsTypeNo}
		    ,TITLE = #{title}
		    ,CONTENT = #{content}
		    ,DELETE_YN = #{deleteYn}
		    ,MODIFY_DATE = SYSDATE
		WHERE
		NO = #{no}
	</update>

	<select id="selectListCnt" resultType="int">
		SELECT COUNT(*)
		FROM NEWS
		WHERE NEWS_TYPE_NO = #{typeNo}
		AND DELETE_YN = 'N'
	</select>
	
	<select id="selectListAll" resultType="NewsVo">
	SELECT 
		ROW_NUMBER() OVER(ORDER BY NO) AS LIST_NO
	    ,NO
	    ,ADMIN_NO
	    ,NEWS_TYPE_NO
	    ,TITLE
	    ,CONTENT
	    ,ENROLL_DATE
	    ,DELETE_YN
	    ,MODIFY_DATE
	FROM NEWS
	ORDER BY NO DESC
	</select>


</mapper>