.current-notice{
    margin: auto;
    width: 140px;
    height: 80px;
    border-bottom: 2px solid #0096C6;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
}
.news-search-wrap{
    margin: 30px auto auto auto;
    width: 500px;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.news-search-wrap select, .news-search-wrap option{
    width: 100px;
    height: 32px;
    font-size: 15px;
    border: 0;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}
.news-search-content{
    margin-left: 5px;
    margin-right: 5px;
    width: 300px;
    height: 32px;
    font-size: 15px;
    border: 0;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
}
.news-search-btn{
    background-color: white;
    border: 0;
    outline: 0;
    font-size: 22px;
}
.news-list-whole{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    width: 1250px;
    gap: 30px;
    margin: 0 auto 30px auto;
}
.news-list-warp-page{
    width: 700px;
    margin: auto;
}
.news-list-ad{
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    width: 220px;
    height: auto;
    padding-top: 50px;
}
.news-list-ad>img{
    width: 100%;
}
.news-list-wrap{
    width: auto;
    height: auto;
}
.news-list-write{
    position: relative;
    height: 50px;
}
.news-list-write>span{
    position: absolute;
    left: 90%;
    top: 20%;

    font-weight: 700;
    font-size: 20px;
}
.news-list-write>span>a{
	color:black;
}
.news-list-head, .news-list-body{
    display: grid;
    grid-template-columns: 100px auto 150px;
    align-items: center;
    justify-items: center;
    height: 50px;
}

.news-list-head{
    background: #5C9AC1;
    color: white;
    font-weight: 700;
    font-size: 15px;
}
.news-list-body{
    border: 1px solid #E6E6E6;;
}
.news-list-body-title{
    text-overflow : ellipsis;
    width: 100%;
    padding-left: 50px;
}
.news-list-body-title>a{
    font-weight: 600;
	color : gray;
}
.news-list-body-title>a:hover{
	color:black;
	
}

.news-List-Date{
    font-size: 12px;
}
.page-number-wrap{
    margin: auto;
    width: 300px;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.page-number-wrap>a, .page-number-wrap>a>i{	
	color : gray;
    font-weight: 700;
    font-size: 15px;
}
.page-number-wrap>a:hover, .page-number-wrap>a>i:hover{
	color:black;
}
#currentPage{
	pointer-events: none;
	text-decoration: none;
	font-size: 20px;
	font-weight: 900;
	color: black;
	cursor: default;	
}
