<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.yess.member.vo.MemberVo" alias="MemberVo"/>
		<typeAlias type="com.kh.yess.news.vo.NewsVo" alias="NewsVo"/>
		<typeAlias type="com.kh.yess.whereTo.vo.WhereToVo" alias="WhereToVo"/>
		<typeAlias type="com.kh.yess.market.vo.MarketVo" alias="MarketVo"/>
		<typeAlias type="com.kh.yess.market.vo.MarketAttachmentVo" alias="MarketAttachmentVo"/>
		<typeAlias type="com.kh.yess.mall.vo.ProdVo" alias="ProdVo"/>
		<typeAlias type="com.kh.yess.mall.vo.AttachmentVo" alias="AttachmentVo"/>
		<typeAlias type="com.kh.yess.mall.vo.ReviewVo" alias="ReviewVo"/>
		<typeAlias type="com.kh.yess.community.vo.BoardVo" alias="BoardVo"/>
		<typeAlias type="com.kh.yess.community.vo.BoardPageVo" alias="BoardPageVo"/>
		<typeAlias type="com.kh.yess.community.vo.BoardAttachmentVo" alias="BoardAttachmentVo"/>
	</typeAliases>
	
</configuration>