.where-banner{
    position: relative;
    width: auto;
    height: 600px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.where-banner>img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.where-banner>p{
    z-index: 1;
    position: absolute;
    font-weight: 700;
    font-size: 130px;

    color: #FFFFFF;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
}
.where-head{
    position: relative;
    margin: auto;
    width: 1120px;
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    color: #454545;
    font-weight: 600;
    font-size: 40px;
}
.where-head>p{
    display: flex;
    align-items: center;

    border-bottom: 3px solid #0096C6;
    padding: 30px 20px 30px 20px;
    height: 100px;
}
.map_wrap {
    position:relative;
    width:1120px;
    height:600px;
    margin: 0 auto 50px auto;
    overflow:hidden;
}
.overlay-wrap{
    position: relative;
    width: auto;
    height: auto;
    border-radius: 15px;

}
.overlay-wrap>a{
    background-color: #BF4B60;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none; 
    outline: none;  
    color: white;
}
.overlay-wrap>a:hover, .overlay-wrap>a:actice{
    text-decoration: none;
}
.overlay-addr{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 10px 5px 10px;
    gap: 5px;
    border: 1px solid #BF4B60;
}
.overlay-addr>img{
    width: 40px;
    height: 45px;
}
.address-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #6F6F6F;
    font-size: 13px;

}
.address-box:after {content:""; position: absolute; right: 100px; top: 100px; border-left: 20px solid transparent; border-right: 20px solid transparent; border-top: 30px solid transparent;}