<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{yyyy년mm월dd일 HH시mm분ss초}] %m%n" />
		</layout>
	</appender>
	
	<!-- File Appender -->
	<appender name="faxml" class="org.apache.log4j.FileAppender">
		<param name="file" value="D:/dev/logs/falog.xml"/>
		<param name="append" value="true"/>
		<layout class="org.apache.log4j.xml.XMLLayout"/>
	</appender>
	
	<!-- File Appender -->
	<appender name="fatxt" class="org.apache.log4j.FileAppender">
		<param name="file" value="D:/dev/logs/falog.txt"/>
		<param name="append" value="true"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%d{yyyy년MM월dd일 HH시mm분ss초}] %m%n" />
		</layout>
	</appender>
	
	<!-- 
		ConversionPattern
		%p : priority
		%c : 클래스
		%m : 개행문자(줄바꿈)
	 -->
	<!-- Root Logger -->
	<root>
		<priority value="info" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>